body {
	margin: 5px;
}

h1 {
	text-transform: uppercase;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: calibri;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

article {
	margin-left: 30%;
	width: 500px;
	height: 250px;
	position: relative;
}

h2 {
	text-transform: uppercase;
	font-family: calibri;
	text-align: center;
	margin: 20px;
}

p {
	position: absolute;
    top: 20%;
    left: 5px;
    font-size: 18px;
    text-align: center;
}

img {
	z-index: -1;
	width: 500px;
	height: 250px;
	max-width: 100%;
	opacity: 0.5;
}