body {
	margin:0px;
	background-color: #c6282e;
	padding: 0px;
}

header {
	color: #90984b; 
	font-size: 60px; 
	font-family: 'Rouge Script', cursive;
	font-weight: normal;
	margin-top: 15%; 
	text-align: center; 
	text-shadow: 1px 1px 2px #082b34; 
}

h2 {
	color: black;
	text-align: center;
}

ul {
	list-style: none;
	display: flex;
	position: fixed;
	bottom: 0px;
	width: 100%;
	justify-content: center;
	align-content: flex-end;
	padding: 0px;
	margin: 0px;
	align-items: flex-end;
	background-color: #f29684;
	border: solid 1px black;	
}

li {
	width: 10%;
	height: 50px;
	margin: 5px;
	text-align: center;
	flex-basis: auto;
	padding: 0px;
}

li a {
	text-align: center;
	text-transform: uppercase;
  	font-family: calibri;
	letter-spacing: 1px;
	text-decoration: none;
	color: #c6282e;
	position: relative;
	display: flex;	
	justify-content: center;
	align-items: center;
	height: 100%;
}

span.text {
 	display:none;
 	position: absolute;
 	top: -60%;
 	font-size: 18px;
 	text-align: center;
 	color: black;
}

.icon {
	align-content: center;
}

ul li:hover span.text {
	display: block;
	visibility: visible;
  	opacity: 1;
}